<h2>Shop</h2>

<% if @products.empty? then %>
  <p>No product created.</p>
<% else %>
  <p>
    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= link_to 'Buy', product %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
<% end %>

<%= link_to 'Back', root_path %>
